
#nav, #nav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:outside;
	position:relative;
	line-height:1.5em; 
}

#nav a{
	display:block;
	color:#fff;
	text-decoration:none;
}

#nav a:hover{
	color:#333;
}

#nav li a img{
	filter:alpha(opacity=50);
	-moz-opacity:.5;
	-khtml-opacity: .5;
	opacity:.5;
	}
	
#nav li a:hover img{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
	}
	
#nav li{
	float:left;
	position:relative;
}

#nav .sub_nav {
	position:absolute;
	display:none;
	width:242px;
	top:62px;
	border-top:1px solid #ccc;
}

#nav li .sub_nav a{
	width:220px;
	padding:10px;
	height:auto;
	float:left;
	background-color:#d8d8d8;
	background-image:none;
	text-align:left;
	border:1px solid #ccc;
	border-top:none;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
	z-index:100000;
	position:relative;
}

#nav ul ul{
	top:auto;
}	

/*#nav li ul ul {
	margin:-63px 0 0 242px;
}*/
#nav .mmlist ul ul {
    margin:-63px 0 0 242px;
}

#nav .mmlist1 ul{   
    margin:0 0 0 -122px;
}

#nav .mmlist1 ul ul{
    margin:-63px 0 0 -242px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
	display:none;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
	display:block;
}
