@charset "utf-8";

/* CSS Document 

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

*/

/* font-family: 'Roboto', sans-serif; */





.menu { 

	padding: 0; 

	clear: both; 

		}

.menu li { 

	display: inline; 

	}

.menu li a {

	font-family: 'Roboto', sans-serif;

	float: left;

	text-decoration: none;

	color: #ffffff;

	font-weight: 400;

	font-size: 13px;

	/*text-transform: uppercase;*/

	height: 24px;

	width: auto;

	padding-right: 5px;

	padding-left: 4px;

	padding-top: 6px;

	margin-right: 3px;

	border: 1px solid #92495C;

	box-shadow:none;
	background-color:#92495C;



}

			.menu li.active a {

	background-color:transparent;

	border-top-width: 1px;

	border-right-width: 1px;

	border-top-style: solid;

	border-right-style: solid;

	border-top-color: #92495C;

	border-right-color: #92495C;

	border-left-width: 1px;

	border-left-style: solid;

	border-left-color: #92495C;

	border-bottom-width: 1px;

	border-bottom-style: none;

	border-bottom-color: #FFF;

	color: #92495C;

	z-index: 100 !important;

	position: relative;

	box-shadow:none !important;

}

			.contenttab {

	float: left;

	clear: both;

	width: 945px;
	
	margin-left:10px;

	border-top-width: 1px;

	border-top-style: solid;

	border-top-color: #92495C;

	height: auto;

	margin-top: -21px;

	padding-top: 30px;

	padding-right: 0px;

	padding-bottom: 0px;

	padding-left: 0px;

}

