@charset "utf-8";
/* CSS Document */

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic); */

/* font-family: 'Open Sans', sans-serif; */

@import url("../fonts/fonts.css");

body {
	margin:0;
	padding:0;
	}
.wrapper {
	margin:0;
	padding:0;
	}	
.headerOutBox {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 150px;
	width: 100%;
	/*0191b5*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0191b5+0,0082a3+100 */

	
	}
	.headerOutBox_old {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 150px;
	width: 100%;
	/*0191b5*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0191b5+0,0082a3+100 */
background: #0191b5; /* Old browsers */
background: -moz-linear-gradient(top,  #0191b5 0%, #0082a3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0191b5), color-stop(100%,#0082a3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0191b5 0%,#0082a3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0191b5 0%,#0082a3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0191b5 0%,#0082a3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0191b5 0%,#0082a3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0191b5', endColorstr='#0082a3',GradientType=0 ); /* IE6-9 */

	
	}
.header {
	padding: 0px;
	height: 150px;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	}
.midOutBox {
	width:100%;
	float:left;
	height:auto;
	margin:0;
	padding:0;
	}
.midBox {
	width:980px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	}
.midLeftBox {
	width: 210px;
	float: left;
	height: auto;
	padding: 0;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	}
.proBox {
	float: left;
	height: auto;
	width: 210px;
	background-color: #f8f8f8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	}
.proBoxTitel {
	font-family: OpenSans;
	font-size: 16px;
	color: #626262;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #d2d2d2;
	text-align: center;
	margin: 0px;
	float: left;
	height: auto;
	width: 210px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	font-weight: 400;
	}
.proBoxImg {
	width: 210px;
	height: 110px;
	float: left;
	padding: 0px;
	margin-top: 10px;
	}
.proBoxText {
	font-family: OpenSans;
	font-size: 14px;
	color: #626262;
	text-align: center;
	padding: 0px;
	float: left;
	height: auto;
	width: 210px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: 400;
	}									
.proBoxText2 {
	font-family: OpenSans;
	font-size: 12px;
	color: #2E2E2E;
	text-align: center;
	padding: 0px;
	float: left;
	height: auto;
	width: 210px;
	font-weight: 600;
	margin: 0px;
	}
.midCenterBox {
	padding: 0px;
	float: left;
	height: auto;
	width: 445px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
	}
.midImg {
	width: 445px;
	height: 280px;
	float: left;
	}
.midBoxText {
	width:445px;
	height:auto;
	float:left;
	}	
.midTextTitel {
	font-family: OpenSans;
	font-size: 30px;
	color: #2E2E2E;
	text-align: center;
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 445px;
	font-weight: 400;
	}	
.midTextBox {
	font-family: OpenSans;
	font-size: 13px;
	color: #626262;
	text-align: justify;
	padding: 0px;
	float: left;
	height: auto;
	width: 445px;
	font-weight: 400;
	line-height: 20px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	}
.midRightBox {
	float: left;
	height: auto;
	width: 290px;
	margin-left: 15px;
	margin-top: 20px;
	}
.midRightBoxInner {
	float: left;
	height: auto;
	width: 290px;
	background-color: #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}	
.midRightInnerBox {
	float: left;
	height: auto;
	width: 290px;
	background-color: #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	}
.midRightInnerBoxTitel {
	font-family: OpenSans;
	font-size: 13px;
	color: #626262;
	float: left;
	height: auto;
	width: 250px;
	margin-top: 20px;
	margin-left: 20px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b8b8b8;
	}
.foumBox {
	padding: 0px;
	float: left;
	height: auto;
	width: 250px;
	margin-left: 20px;
	margin-top: 10px;
	}
.foumBoxTitel {
	font-family: OpenSans;
	font-size: 13px;
	color: #626262;
	padding: 0px;
	float: left;
	height: auto;
	width: 250px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	}				
.foumField {
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 250px;
	}
	
.foumField input {
	font-family: OpenSans;
	font-size: 13px;
	color: #626262;
	-webkit-box-shadow: inset 0px 0px 15px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 15px -7px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 15px -7px rgba(0,0,0,0.75);
	margin: 0px;
	float: left;
	height: 40px;
	width: 238px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	border: 1px solid #cfcfcf;
}
.buttonBox a {
	font-family: OpenSans;
	font-size: 14px;
	color: #FFFFFF;
	background-color:#92495C;
	/*#800517;*/

	float: left;
	height: 35px;
	width: 90px;
	margin-left: 20px;
	line-height: 35px;
	text-align: center;
	margin-top: 5px;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	}
        

        .sumit-button {
	font-family: OpenSans;
	font-size: 14px;
	color: #FFFFFF;
	background-color:#92495C;
	/*#800517;*/

	float: left;
	height: 35px;
	width: 90px;
	margin-left: 20px;
	line-height: 35px;
	text-align: center;
	margin-top: 5px;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
        border: 0px;
	}

.buttonBox_old a {
	font-family: OpenSans;
	font-size: 14px;
	color: #FFFFFF;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0191b5+0,0082a3+100 */
	background: #0191b5; /* Old browsers */
	background: -moz-linear-gradient(top,  #0191b5 0%, #0082a3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0191b5), color-stop(100%,#0082a3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0191b5 0%,#0082a3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0191b5 0%,#0082a3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0191b5 0%,#0082a3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0191b5 0%,#0082a3 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0191b5', endColorstr='#0082a3',GradientType=0 ); /* IE6-9 */
	float: left;
	height: 35px;
	width: 90px;
	margin-left: 20px;
	line-height: 35px;
	text-align: center;
	margin-top: 5px;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	}
/*.buttonBox a {
	font-family: OpenSans;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 35px;
	text-transform: uppercase;
	
	}*/
.buttonBox a:hover {
	font-family: OpenSans;
	font-size: 14px;
	color: #000000;
	line-height: 35px;
	text-transform: uppercase;
	text-decoration: none;
	}		
	
	
.midLinkText {
	font-family: OpenSans;
	font-size: 11px;
	color: #626262;
	float: left;
	height: auto;
	width: 250px;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-weight: 500;
	}
.midLinkText a {
	font-family: OpenSans;
	font-size: 11px;
	color: #626262;
	font-weight: 500;
	text-decoration: none;
	}
.midLinkText a:hover {
	font-family: OpenSans;
	font-size: 11px;
	color: #000000;
	font-weight: 500;
	text-decoration: none;
	}	
.rightBoxButton {
	/*float: left;
	height: 50px;
	width: 250px;
	margin-left: 20px;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;*/
	}
.rightBoxButton a {
	float: left;
	height: 50px;
	width: 250px;
	margin-left: 20px;
	margin-top: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
	text-decoration: none;
	margin-bottom: 5px;
	}
.rightBoxButton a:hover {
	color:#000;
	}		
.rightBoxButtonIcon {
	padding: 0px;
	float: left;
	height: 40px;
	width: 50px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	}
.rightBoxButtonText {
	font-family: OpenSans;
	font-size: 14px;
	color: #626262;
	font-weight: 500;
	float: left;
	height: 30px;
	width: 170px;
	line-height: 30px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #d6d6d6;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	}
.footerOutBox {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 45px;
	width: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0191b5+0,0082a3+100 */
	}
	
	.footerOutBox_old {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 45px;
	width: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0191b5+0,0082a3+100 */
background: #0191b5; /* Old browsers */
background: -moz-linear-gradient(top,  #0191b5 0%, #0082a3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0191b5), color-stop(100%,#0082a3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0191b5 0%,#0082a3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0191b5 0%,#0082a3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0191b5 0%,#0082a3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0191b5 0%,#0082a3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0191b5', endColorstr='#0082a3',GradientType=0 ); /* IE6-9 */
	}
	
.footerText {
	font-family: OpenSans;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: 500;
	padding: 0px;
	height: auto;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	line-height: 45px;
	}	
