@charset "utf-8";
/* CSS Document */

/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,400italic,600,600italic,700,700italic,900,900italic);*/

/* font-family: 'Roboto', sans-serif; */




.midArea {
	height: auto;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	}

.productsAreaRight ul {
	padding: 0px;
	float: left;
	height: auto;
	width: auto;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-weight: normal;
   
    }
.productsAreaRight li {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
   
    }
.productsAreaRight li a {
	float: left;
	height: 240px;
	width: auto;
	margin-right: 12px;
	text-decoration: none;
	border: 1px solid #E6E6E6;
	list-style-type: none;
	margin-bottom: 10px;
    }
 
 
 @charset "utf-8";
/* CSS Document */

html, body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    background: #FFF;
	font-weight: normal;
}
form {
    margin: 0 auto;
    margin-top: 0px;
}
.container {
    width: 980px;
    height: auto;
    top: 2%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: auto;    
	background: #fff;
}

.containerHeader {
    width: 980px;
    height: 180px;
	float:left; 
	background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
.containerHeaderOne {

	
}

.containerHeaderTwo {
   float:left;
   margin-top:10px;
}

.labelTxt {
    color: #555;
    display: inline-block;
    margin-left: 2px;
	margin-bottom:5px;
    padding-top: 5px;
    font-size: 14px;
	width: 290px;	
}

.divSimple {
    color: #555;
    display: inline-block;
    margin-left: 2px;
	margin-bottom:5px;
    padding-top: 5px;
    font-size: 14px;
	width: 290px;
}

#lower {
    width: 100%;
    height: 63px;
    margin-top: 0px;

}

.report {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    width: 140px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #acd6ef; /*IE fallback*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
    background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    border-radius: 30px;
    border: 1px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}

.report:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
	background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
	background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
	font-style: italic;
	font-weight: normal;
}



.modal {
  
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

.logOut{
	width: 980px;
    height: 40px;
	float:left; 
	background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}


.logOutButton{
	
    margin-right: 8px;
    margin-top: 0px;
    width: 90px;
    height: 27px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #326BA8; /*IE fallback*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#326BA8), to(#326BA8));
    background-image: -moz-linear-gradient(top left 90deg, #326BA8 0%, #326BA8 100%);
    background-image: linear-gradient(top left 90deg, #326BA8 0%, #326BA8 100%);
    border-radius: 30px;
    border: 1px solid #1C5087;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
	}